<div class="container my-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form class="bg-light p-4 align-center border border-dark" (ngSubmit)="onSubmit()" #orderDetailsForm="ngForm">
          <h3>Add Order Details</h3>
          <hr>
  
          <div>
            <label for="orderNumber">Order Number:</label>
            <input class="mt-3" type="text" id="orderNumber" style="margin-left: 7.6rem;" name="orderNumber"
              [(ngModel)]="orderDetails.orderNumber" required pattern="[0-9]*">
            <div *ngIf="orderDetailsForm.controls['orderNumber'].invalid && (orderDetailsForm.controls['orderNumber'].dirty || formSubmitted)"
              class="text-danger">Order Number is required use only numbers</div>
          </div>
  
          <div>
            <label for="productCode">Product Code:</label>
            <input class="mt-3" type="text" id="productCode" style="margin-left: 8.1rem;" name="productCode"
              [(ngModel)]="orderDetails.productCode" required pattern="[a-zA-Z-0-9_]*">
            <div *ngIf="orderDetailsForm.controls['productCode'].invalid && (orderDetailsForm.controls['productCode'].dirty || formSubmitted)"
              class="text-danger">Product Code is required</div>
          </div>
  
          <div>
            <label for="quantityOrdered">Quantity Ordered:</label>
            <input class="mt-3" type="text" id="quantityOrdered" style="margin-left: 6.6rem;" name="quantityOrdered"
              [(ngModel)]="orderDetails.quantityOrdered" required pattern="[0-9]*">
            <div *ngIf="orderDetailsForm.controls['quantityOrdered'].invalid && (orderDetailsForm.controls['quantityOrdered'].dirty || formSubmitted)"
              class="text-danger">Quantity Ordered is required use numbers</div>
          </div>
  
          <div>
            <label for="priceEach">Price Each:</label>
            <input class="mt-3" type="text" id="priceEach" style="margin-left: 9.9rem;" name="priceEach"
              [(ngModel)]="orderDetails.priceEach" required pattern="[0-9]*">
            <div *ngIf="orderDetailsForm.controls['priceEach'].invalid && (orderDetailsForm.controls['priceEach'].dirty || formSubmitted)"
              class="text-danger">Price Each is required</div>
          </div>
  
          <div>
            <label for="orderLineNumber">Order Line Number:</label>
            <input class="mt-3" type="text" id="orderLineNumber" style="margin-left: 5.8rem;" name="orderLineNumber"
              [(ngModel)]="orderDetails.orderLineNumber" required pattern="[0-9]*">
            <div *ngIf="orderDetailsForm.controls['orderLineNumber'].invalid && (orderDetailsForm.controls['orderLineNumber'].dirty || formSubmitted)"
              class="text-danger">Order Line Number is required</div>
          </div>
  
          <hr>
  
          <button type="submit" class="btn" style="background-color: lightblue;">ADD ORDER DETAILS</button>
        </form>
      </div>
    </div>
  </div>
  