<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>

<body>
    <section class="homepage" id="home">
        <div class="content">
            <div class="text">

                <h1>Unique Vehicles Are Here..!</h1>
                <p>
                    Welcome to our homepage! Explore our wide range of vehicles and discover the perfect vehicle for
                    your need.
                    <br> 
                    Start your journey with us today and let us help you find the vehicle of your dreams.<br> Happy
                    browsing!.
                </p>
            </div>
            <a routerLink="services">Our Services</a>
            <!-- <button onclick="services">Our Services</button> -->
        </div>
    </section>


    <section class="services" id="services">
        <h2>Our Services</h2>
        <p>Explore our wide range of vehicles.</p>

        <!-- <p> -->


        <ul class="cards">
            <li class="card">
                <img src="assets/bgimg.jpg" alt="img">
                <h3>Vintage Cars</h3>
                <p>Timeless beauty on wheels, preserving automotive heritage gracefully.</p>
            </li>
            <li class="card">
                <img src="assets/classic.webp" alt="img">
                <h3>Classic Cars</h3>
                <p>Iconic elegance that transcends time, driving nostalgia forward.</p>
            </li>
            <li class="card">
                <img src="assets/Buses.jpg" alt="img">
                <h3>Buses & Trucks </h3>
                <p>Powerful haulers, transporting goods and people with reliability.</p>
            </li>
            <li class="card">
                <img src="assets/ships.jpg" alt="img">
                <h3>Ships</h3>
                <p> Majestic vessels sailing vast oceans, exploring the world's wonders</p>
            </li>
            <li class="card">
                <img src="assets/royal.jpg" alt="img">
                <h3>Motorcycle</h3>
                <p>Two-wheeled freedom, thrilling rides that ignite your spirit..</p>
            </li>
            <li class="card">
                <img src="assets/plane.jpg" alt="img">
                <h3>Planes</h3>
                <p>Wings of adventure, soaring through boundless skies with grace..</p>
            </li>
        </ul>
    </section>
    <section class="about" id="about">
        <h2>About Us</h2>
        <p>Your Source for Quality Vehicles.</p>
        <div class="row company-info">
            <h3>Our Story</h3>
            <p>We are a passionate team of vintage vehicle enthusiasts who came together with a common love for
                preserving and celebrating the beauty of classic cars, motorcycles, planes, ships, trucks, and buses.
                Our journey began with a shared desire to create a platform where fellow enthusiasts can connect and
                trade these iconic vehicles, forming a community that appreciates their timeless charm.</p>
        </div>
        <div class="row mission-vision">
            <h3>Our Mission</h3>
            <p>Our mission is to provide a seamless online marketplace that connects buyers and sellers of vintage
                vehicles. We aim to curate a diverse selection of high-quality vintage cars, motorcycles, classic cars,
                planes, ships, trucks, and buses, ensuring that our platform caters to the varied tastes of our
                audience. With a commitment to transparency and reliability, we strive to offer a trusted environment
                for enthusiasts to find their dream vehicles and for sellers to reach interested buyers.</p>
            <h3>Our Vision</h3>
            <p>Our vision is to become the premier destination for vintage vehicle enthusiasts, fostering a global
                community that shares a deep appreciation for these extraordinary modes of transportation. We envision
                our website as a hub of inspiration, knowledge, and connectivity, where enthusiasts can explore,
                discuss, and engage with the rich history and artistry of vintage vehicles. Through continuous
                innovation and a dedication to customer satisfaction, we aim to shape the future of the vintage vehicle
                market and preserve the legacy of these automotive treasures..</p>
        </div>
        <hr>
        <div class="row team">
        
            <h3>Our Team</h3>
            <ul>
                <li>Chaudhari, Sagar Sanjay</li>
                <li>Aher, Shubham Rajendra</li>
                <li>Akhila, Dammannagari</li>
                <li>R, Sanjai</li>
            </ul>
        </div>
    </section>

    <section class="contact" id="contact">
        <h2>Contact Us</h2>
        <p>Reach out to us for any inquiries or feedback.</p>
        <div class="row">
            <div class="col information">
                <div class="contact-details">
                    <p><i class="fas fa-map-marker-alt"></i>Pune</p>
                    <p><i class="fas fa-envelope"></i>shubhamaher007@gmail.com</p>
                    <p><i class="fas fa-phone"></i> 9139175209</p>
                    <p><i class="fas fa-clock"></i> Monday - Friday: 9:00 AM - 5:00 PM</p>
                    <p><i class="fas fa-clock"></i> Saturday: 10:00 AM - 3:00 PM</p>
                    <p><i class="fas fa-clock"></i> Sunday: Closed</p>
                </div>
            </div>
            <div class="col form">
                <form>
                    <input type="text" placeholder="Name*" required>
                    <input type="email" placeholder="Email*" required>
                    <textarea placeholder="Message*" required></textarea>
                    <button id="submit" type="submit">Send Message</button>
                </form>
            </div>
        </div>
    </section>

    <footer>
        <div>
            <span>Copyright © 2023 All Rights Reserved</span>
            <span class="link">
                <a href="homepage">Home</a>
                <a href="homepage">Contact</a>
            </span>
        </div>
    </footer>

</body>